@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
  font-family: "Montserrat", sans-serif;
  /* margin-bottom: 0; */
}

body {
  background-color: #5c5a5a5c !important;
  color: #000000; 
  height: 100vh;
  /* display: flex !important;
  flex-direction: column; */
}

/* .dash-foot-p {
  font-size: .8rem;
  margin-bottom: 0;
  color: #fff;
} */
/* .dash-foot {
  padding: .5rem 1rem;
  border-top: .5px rgba(255, 255, 255, 0.545) outset;
  background: #2f1254;
  margin-top: auto;
  /* position: sticky; 

} */

/* .dash-foot-ul {
  list-style-type: none;
  gap: 2rem;
  margin-bottom: 0;
} */
.wallet-head {
  font-size: 1rem;
  background-color: #2f1254;
  border-radius: 10px;
  color: #f5c518;
  padding: .5rem 1rem ;
  width:fit-content;
}

.input-data{
  border: 1px solid rgba(80, 53, 114, 0.481);
  background: white;
  padding: .4rem;
  font-size: .9rem;
  border-radius: 7px;
  min-width: 7rem;
  display: flex;
  font-weight: 500;
  /* align-items: center;
  justify-content: center; */
  /* width: fit-content; */
}
.wave {
  /* position: absolute; */
  width: 100%;
  /* height: 50px; */
  opacity: 0.6;
  padding: 10px;
/* 
  margin-left: 20%;
  margin-top: -70%; */
  background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
  border-radius: 10px;
}

@media (319px <= width <= 430px) {
  .input-data{
    border: 1px solid rgba(80, 53, 114, 0.481);
    background: white;
    padding: .4rem;
    font-size: .65rem;
    border-radius: 7px;
    min-width: 7rem;
    display: flex;
    font-weight: 500;
    /* align-items: center;
    justify-content: center; */
    
  }
}
@media (640px <= width <= 1069px) {
  
}

